@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

$font_weights : (
  "thin": 100,
  "small": 300,
  "regular": 400,
  "medium": 700,
  "bold": 900
);

$font_families : (
  "first": "COCOGOOSE",
  "second": "Lato"
);

$colors : (
  "primary": #272a31,
  "secondary": #ec5242,
  "tertiary": #d3d3d3
);

@mixin breakpoint($point) {
  @if $point == xl {
    @media (max-width: 75em) { @content; }
  }

  @else if $point == minxl {
    @media (min-width: 75em) { @content; }
  }

  @else if $point == lg {
    @media (max-width: 62em) { @content; }
  }

  @else if $point == md {
    @media (max-width: 48em) { @content; }
  }

  @else if $point == sm {
    @media (max-width: 34em) { @content; }
  }

  @else if $point == mobile {
    @media (max-width: 25em) { @content; }
  }

  @else if $point == mobilexs {
    @media (max-width: 21.875em) { @content; }
  }
}

@mixin flex-center($orientation){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $orientation;
}

@mixin flex-start($orientation) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: $orientation;
}